version: "3.5"
services:
  centos7php74base:
    build:
      context: .
      dockerfile: Dockerfile.base
      args:
        centos: $OS7
    image: "aursu/php74build:${OS7}-base"
  centos8php74base:
    build:
      context: .
      dockerfile: Dockerfile.8-base
      args:
        centos: $OS8
    image: "aursu/php74build:${OS8}-base"